# Configuración de conexión a la BD
DB_SERVER=localhost\SQLEXPRESS
DB_NAME=nombre_de_la_bd_migrada
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_TRUSTED_CONNECTION=yes

# En caso de usar usuario y contraseña, descomentar: 
# DB_USER=tu_usuario
# DB_PASSWORD=tu_contraseña